body {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

#spinbox-wrapper {
    text-align: center;
    border-radius:10px;
    margin-top: 150px;
    width: 200px;
    height: 100px;
    background-color: #ff8;
    z-index: 100;
    box-shadow: 10px 10px 5px #888888;
}

._spinbox-input{
    text-align: center;
}